.text-center {
	text-align: center;
}
.ptp-7 {
	padding-top: 7%;
}

.ptp-14 {
	padding-top: 14%;
}

.pd-4{
	padding: 4%;
}

.ptp-3{
	padding-top: 3%;
}

.text-color{
	color: white;
}

.mg-0{
	margin: 0;
}

.pd-0{
	padding: 0;
}

.p-0{
	padding: 0;
}

.pd-2{
	padding: 2%;
}

.pd-11{
	padding: 11%;
}

.mg-0{
	margin: 0%;
}

.mgt-4{
	margin-top: 4%;
}

.mgl-7{
	margin-left: 7%;
}

.mgt-1{
	margin-top: 1%;
}